<div class="panel panel-default">
	<div class="panel-heading">About this sequence</div>
	<div class="panel-body">
		<p>It is called <b>{{ sequence.name }}</b>
		And lasts <b>{{ sequence.duration }}</b> seconds
	</div>
</div>
<div ng-repeat="pose in sequence.poses">
	<div class="panel panel-default">
		<div class="panel-heading">{{ pose.name }}</div>
		<div class="panel-body">
			<h3>({{ pose.easy_name }})</h3>
			<p>Duration is {{ pose.time }}</p>
		</div>
	</div>
</div>
<button type="button" class="btn btn-success"><span class="glyphicon-plus"></span> Add a pose</button>
