<div class="panel panel-default">
	<div class="panel-heading">About this sequence</div>
	<div class="panel-body">
		<p>It is called <b><input type="text" ng-model="sequence.name"/></b>
		And lasts <b>{{ sequence.duration }}</b> seconds
	</div>
</div>
<div ui-tree="dragCallbacks">
	<ol ui-tree-nodes="" ng-model="sequence.sequencePoses">
		<li ng-repeat="sequencePose in sequence.sequencePoses" ui-tree-node>
			<div class="panel panel-default" ui-tree-handle>
				<div class="panel-heading">{{ sequencePose.pose.name }}</div>
				<div class="panel-body">
					<h3>({{ sequencePose.pose.simplename }})</h3>
					<p>Duration is <input type="text" ng-model="sequencePose.duration"/> seconds</p>
				</div>
			</div>
		</li>
	</ol>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Search Poses to add
		</h3>
	</div>
	<div class="panel-body">
		<input type="text" class="form-control" id="search" ng-model="searchTerm" ng-change="search()"/>
		<div class="button-group" ng-repeat="result in searchResults">
			<button type="button" class="btn btn-block btn-primary" ng-click="addPose(result)">
			<span class="glyphicon glyphicon-plus"></span> {{ result.name }} ({{result.simplename}})
			</button>
		</div>
		<button type="button" class="btn btn-success" ng-click="saveSequence()">
			Save Sequence
		</button>
	<div>
<div>
