<div ng-repeat="sequence in sequences">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3>{{ sequence.name }}</h3>
			<div class="btn-group-vertical" role="group">
				<button type="button" class="btn btn-success" ng-click="$location.path('/sequence/play/{{ sequence.id}}')">Start <span class="glyphicon glyphicon-play"></span></button>
				<button type="button" class="btn btn-info" ng-click="$location.path('/sequence/edit/{{ sequence.id}}')">Edit <span class="glyphicon glyphicon-pencil"></span></button>
			</div>
		</div>
	</div>
</div>
